/*csslint  order-alphabetical: false*/


/*csslint important: allow*/

.container {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%)
}

.gameArea {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #0b4455;
}

.column {
	float: left;
}

.field {
	width: 80px;
	height: 80px;
	padding: 5px;
	background-color: #0b4455;
	-webkit-box-shadow: inset 0px 0px 33px 0px rgba(0, 0, 0, 0.3);
	/* WebKit */
	-moz-box-shadow: inset 0px 0px 33px 0px rgba(0, 0, 0, 0.3);
	/* Firefox */
	box-shadow: inset 0px 0px 33px 0px rgba(0, 0, 0, 0.3);
	/* Standard */
}

.textfield {
	color: lightyellow;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	width: inherit;
	height: inherit;
}

.statusArea {
	text-align: center;
	width: 350px;
	margin: auto;
	color: darkred;
	font-weight: bold;
	font-family: monospace;
}

html {
	background: linear-gradient(135deg, #0fb8ad 0%, #1fc8db 50%, #2cb5e8 100%) no-repeat center center fixed;
	background-size: cover;
}

body {
	background-size: cover;
}

.markedField {
	border: #dee529;
	border-width: 3px;
}

.player1 {
	background-color: #ef464f;
}

.player2 {
	background-color: #1bd728;
}
